<div layout-fill class="content-backdrop" ng-controller="DeptartmentController" ng-cloak>
    <div cg-busy="{promise:loadingLayer,minDuration:500}" layout="column" layout-fill>
        <md-toolbar class="content-toolbar">
            <div class="md-toolbar-tools">
                <div>部门列表</div>
                <md-button class="md-primary" ng-click="create()"
                           has-permissions="DEPARTMENT:READ+CREATE">
                    <md-icon>add_circle_outline</md-icon>
                    创建
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row" flex>
            <div class="md-padding" layout-fill layout="column" flex="100">
                <filter-tools conditions="conditions" results="filters" search="'true'" execute="list()">
                    <select-columns columns="columns"></select-columns>
                    <div class="filter-item">
                        <md-button class="md-icon-button md-whiteframe-1dp" ng-click="list()">
                            <md-tooltip md-delay="300">刷新</md-tooltip>
                            <md-icon>refresh</md-icon>
                        </md-button>
                    </div>
                </filter-tools>

                <table dynamic-table columns="columns" execute="list({sql: sql})"
                       ng-class="{'tr-selected':selected === item.$$hashKey}">
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{item.name}}</td>
                        <td>{{item.companyName}}</td>
                        <td>
                            <a class="md-primary" style="cursor:pointer" href=""
                               ng-if="item.countAuthorizedUser>0"
                               ng-click="workspaceAuthorize(item)">
                                {{item.countAuthorizedUser}}
                            </a>
                            <span ng-if="item.countAuthorizedUser===0">-</span>
                        </td>
                        <td>{{item.description}}</td>
                        <td has-permissions="DEPARTMENT:READ+EDIT,DEPARTMENT:READ+DELETE">
                            <!--设置名成加op="'其他名称'"，默认的名称为"操作"；设置宽度加width="4 或其他整数"-->
                            <table-menus>
                                <md-menu-item>
                                    <md-button has-permissions="DEPARTMENT:READ+EDIT"
                                               ng-click="edit(item)">
                                        <md-icon class="md-18">edit</md-icon>
                                        编辑
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button has-permissions="DEPARTMENT:READ+DELETE"
                                               ng-click="delete(item)">
                                        <md-icon>delete</md-icon>
                                        删除
                                    </md-button>
                                </md-menu-item>
                            </table-menus>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table-pagination pagination="pagination"></table-pagination>
            </div>
        </div>
        <info-form width="50%"></info-form>
        <side-form></side-form>
    </div>
</div>

