<div ng-cloak>
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>{{item.tagId?'编辑字典':'添加字典'}}</div>
        </div>
    </md-toolbar>
    <form name="categoryEditForm" class="md-padding">
        <div layout="column">
            <md-input-container class="md-block">
                <label>分组标识</label>
                <input md-maxlength="50" required name="id" ng-disabled="item.tagId" ng-model="item.id">
                <div ng-messages="categoryEditForm.id.$error">
                    <div ng-message="required">必填.</div>
                    <div ng-message="md-maxlength">不要超过50个字符</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>分组别名</label>
                <input required name="name" ng-model="item.name" md-maxlength="50"/>
                <div ng-messages="categoryEditForm.name.$error">
                    <div ng-message="required">必填.</div>
                    <div ng-message="md-maxlength">不要超过50个字符</div>
                </div>
            </md-input-container>
        </div>
    </form>
    <div layout="row" layout-align="start center" layout-margin>
        <md-button class="md-raised" ng-click="toggleForm()">
            取消
        </md-button>
        <md-button class="md-raised md-primary" ng-click="editCategorySubmit(item)" ng-disabled="categoryEditForm.$invalid">
            保存
        </md-button>
    </div>
</div>
