<div ng-cloak>
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>修改密码</div>
        </div>
    </md-toolbar>
    <form name="resetForm" class="md-padding">
        <md-input-container class="md-block" flex-gt-sm>
            <label>密码</label>
            <i id="eye" class="fa fa-eye f2c-eye" aria-hidden="true" ng-click="view('password','eye')"></i>
            <input minlength="6" md-maxlength="30" maxlength="30" type="password" required name="password" id="password"
                   ng-click="changeType('password')"
                   ng-model="resetItem.password">
            <div ng-messages="resetForm.password.$error">
                <div ng-message="required">必填.</div>
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                    密码必须在6-30字符以内
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>确认密码</label>
            <i id="eye1" class="fa fa-eye f2c-eye" aria-hidden="true" ng-click="view('rePassword','eye1')"></i>
            <input id="rePassword" md-maxlength="30" type="password" required name="rePassword"
                   ng-model="resetItem.rePassword" password-check="resetItem.password"
                   ng-click="changeType('rePassword')">
            <div ng-messages="resetForm.rePassword.$error">
                <div ng-message="required">必填.</div>
                <div ng-message="passwordCheck">密码不一致.</div>
                <div ng-message="md-maxlength">不要超过30个字符</div>
            </div>
        </md-input-container>
    </form>
    <div layout="row" layout-align="start center" layout-margin>
        <md-button class="md-raised" ng-click="closeToggleForm();">
            取消
        </md-button>
        <md-button class="md-raised md-primary" ng-disabled="resetForm.$invalid"
                   disabled="{{resetItem.password!==resetItem.rePassword}}"
                   ng-click="submit('resetPassword',resetItem)">
            保存
        </md-button>
    </div>
</div>