<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fit2cloud.support.dao.ext.ExtCompanyMapper">

    <resultMap id="CompanyDtoMap" type="com.fit2cloud.support.dto.CompanyDTO"
               extends="com.fit2cloud.commons.server.base.mapper.CompanyMapper.BaseResultMap">
        <result column="countCompanyAdmin" jdbcType="BIGINT" property="countCompanyAdmin"/>
        <result column="countDept" jdbcType="BIGINT" property="countDept"/>
    </resultMap>

    <select id="paging" resultMap="CompanyDtoMap" parameterType="com.fit2cloud.support.dto.request.CompanyRequest">
        select
            company.*,
            (select count(user_role.id)
             from user_role
             where company.id = user_role.source_id)  as countCompanyAdmin,
            (select count(department.id)
             from department
             where department.company_id = company.id) as countDept
        from company
        <where>
            <if test="id!=null">
                and company.id = #{id}
            </if>
            <if test="name!=null">
                and company.name like #{name}
            </if>
            <if test="email!=null">
                and company.email like #{email}
            </if>
            <if test="sort!=null">
                order by ${sort}
            </if>
        </where>
    </select>
</mapper>
