<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fit2cloud.support.dao.ext.ExtDepartmentMapper">

    <resultMap id="DepartmentDtoMap" type="com.fit2cloud.support.dto.DepartmentDTO"
               extends="com.fit2cloud.commons.server.base.mapper.DepartmentMapper.BaseResultMap">
        <result column="companyName" jdbcType="VARCHAR" property="companyName"/>
        <result column="countAuthorizedUser" jdbcType="BIGINT" property="countAuthorizedUser"/>
    </resultMap>

    <resultMap id="DepartmentTreeNode" type="com.fit2cloud.commons.server.model.TreeNode">
        <result property="id" column="company_id"/>
        <result property="name" column="company_name"/>
        <collection property="children" column="children" ofType="com.fit2cloud.commons.server.model.TreeNode">
            <result property="id" column="id"/>
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <select id="paging" resultMap="DepartmentDtoMap">
        select
        department.*,
        company.name as companyName,
        (select count(user_role.id)
        from user_role
        where user_role.source_id = department.id) as countAuthorizedUser
        from department
        join company
        where department.company_id = company.id
        <if test="map.id!=null">
            and department.id = #{map.id}
        </if>
        <if test="map.name!=null">
            and department.name like #{map.name}
        </if>
        <if test="map.companyId!=null">
            and department.company_id = #{map.companyId}
        </if>
        <if test="map.role!=null">
            and department.id in
            <foreach collection="map.resourceIds" item="resourceId" index="index" open="(" close=")" separator=",">
                #{resourceId}
            </foreach>
        </if>
        <if test="map.sort==null">
            order by create_time desc
        </if>
        <if test="map.sort!=null">
            order by ${map.sort}
        </if>
    </select>
    <select id="linkDepartmentPaging" resultMap="com.fit2cloud.commons.server.base.mapper.DepartmentMapper.BaseResultMap">
        select *
        from department
        where companyId_id = #{companyId}
    </select>
    <select id="linkCompanyAdminPaging" resultMap="com.fit2cloud.support.dao.ext.ExtUserMapper.userDtoMap">
        select user.*
        from user
                 join user_role
        where user.id = user_role.user_id
          and user_role.source_id = #{organizationId}
    </select>
    <select id="authorizeUsersPaging" resultMap="com.fit2cloud.support.dao.ext.ExtUserMapper.userDtoMap">
        select user.*
        from user
                 join user_role
        where user.id = user_role.user_id
          and user_role.source_id = #{deptId}
    </select>

    <select id="selectDepartmentTreeNode" resultMap="DepartmentTreeNode">
        SELECT
        company.name AS company_name,
        department.*
        FROM department
        JOIN company ON company_id = company.id
        JOIN user_role ON source_id = company_id
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
        </where>
    </select>
</mapper>
