<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fit2cloud.support.dao.ext.ExtExtraUserLogMapper">

    <resultMap id="BaseResultMap" type="com.fit2cloud.support.model.ExtraUserLog">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="group_env_id" jdbcType="VARCHAR" property="groupEnvId" />
        <result column="group_env_name" jdbcType="VARCHAR" property="groupEnvName" />
    </resultMap>
    <sql id="Base_Column_List">
        id, name, email, user_name, create_time, status, group_env_id, group_env_name
    </sql>

    <select id="selectByPrimaryKey" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from extra_user_log
        where name = #{name}
    </select>

    <delete id="delete" parameterType="String">
        delete from extra_user_log
        <where>
            name = #{name}
        </where>
    </delete>
</mapper>
