<div ng-cloak ng-controller="OrganizationLinkOrgAdminController">
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools" style="padding-right: 0">
            <div>公司管理员</div>
            <div flex></div>
            <md-button class="md-primary" ng-click="closeInformation()" style="height: 100%;padding: 0;margin: 0">
                <div>关闭信息</div>
            </md-button>
        </div>
    </md-toolbar>

    <table dynamic-table columns="columns">
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
        </tr>
        </tbody>
    </table>
    <table-pagination pagination="pagination"></table-pagination>
</div>
